*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}
.vdo-markdown p {
	font-size: 30px;
	margin-bottom: 25px;
}
.vdo-markdown ul li {
	font-size: 20px;
	margin-bottom: 10px;
}